body {
  font-size: 16px;
  color: #000000;
  background-color: white;
  font-family: 'Luckiest Guy', cursive;

}


#header-nav{
  background-color: #3D6B99;
  border-radius: 0;
  border: 0;
  padding: 25px;
  margin-top: 0;
  margin-bottom: 0;

}


.navbar-brand h1 { 
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  
}



#nav-list {
  margin-top: 10px;
 
}

#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #AFF989;
  margin-bottom: 0;

}

#nav-list a span {
  font-size: 1.8em;
  margin-bottom: 0;
}




.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
            border: 1px solid black;
}
.navbar-header button.navbar-toggle {
            margin-top:15px;
}



 .container .row{
  background-color: grey;
  height: 1000px;
  
}




/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
.navbar-brand {
    padding-top: 10px;
    height: 50px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  
  #collapsable-nav a { 
    font-size: 1.2em;
    text-align: center;

  }

  }

        
         
 


/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 50px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  
  #collapsable-nav a { 
    font-size: 1.2em;
    text-align: center;


  }
  

  }

  




